ETL-PROJECT JUPYTER CODE

For Orlando-Seattle Set: separate into morn, day, night in SQL,
drop useless columns and join on night in Jupyter, get back into Postgres.
Data here is from the week of 1/1/2017-1/7/2017, specifically crimes committed after 10pm.

For Atlanta, Baltimore, Chicago, Portland: Get the datasets into Postgres,
load them into Jupyter, use API to get city based on coordinates as a proof
of concept (using the top 25 of each), get back into Postgres.

In [1]:
from sqlalchemy import Table, MetaData, create_engine, select
import pandas as pd
import numpy as np

import requests
import json
import os

#from config import gkey
from config import api_key

In [29]:
# Original way to get postgres tables into jupyter.  Still works though a bit
# convoluted compared to read_sql_table.

engine=create_engine("postgresql://postgres:postgres@localhost/ETL Project")
with engine.connect() as conn:
    conn.execute("SET search_path TO 'etl'")
    conn.execute("SET search_path TO 'etl'").keys()
    meta=MetaData()
    OS_table=Table("Orlando_Seattle_Crimes", meta, autoload=True, autoload_with=conn)
    OS_data=conn.execute(select([OS_table])).fetchall()
    col=OS_table.c

In [30]:
# This is the joined dataset from Postgres.
# Try rejoining or redoing the merge for duplicates.

OS_df=pd.DataFrame(OS_data, columns=(  \
    'Crime Date', 'Orlando Crime', 'Orlando Time', 
    'Orlando Crime Time', 'Seattle Crime', 'Seattle Time', 'Seattle Crime Time'
                                    )
                  )



OS_df.count()

Crime Date            49740
Orlando Crime         49740
Orlando Time          49740
Orlando Crime Time    49740
Seattle Crime         49740
Seattle Time          49740
Seattle Crime Time    49740
dtype: int64

In [31]:
# Separates the dataset

Orlando_df=OS_df[["Crime Date", "Orlando Crime", "Orlando Time", "Orlando Crime Time"]]
Orlando_df=Orlando_df.drop_duplicates()
Seattle_df=OS_df[["Crime Date", "Seattle Crime", "Seattle Time", "Seattle Crime Time"]]
Seattle_df=Seattle_df.drop_duplicates()

In [63]:
# DF for night crime in Orlando
# Cleaned up the Orlando Time format.

Orlando_df=Orlando_df.loc[Orlando_df["Orlando Crime Time"]=="Night",:]
Orlando_df["Orlando Time"]=pd.to_datetime(Orlando_df["Orlando Time"], unit='h')
Orlando_df["Orlando Time"]=pd.to_datetime(Orlando_df["Orlando Time"],format='%H:%M:%S').dt.time
Orlando_df.head()

    Crime Date   Orlando Crime Orlando Time Orlando Crime Time
5   2017-01-03  THEFT-CARPROWL     00:00:00              Night
6   2017-01-03  THEFT-CARPROWL     08:00:00              Night
13  2017-01-03  THEFT-CARPROWL     07:00:00              Night
15  2017-01-03  THEFT-CARPROWL     20:00:00              Night
16  2017-01-03  THEFT-CARPROWL     02:00:00              Night

In [64]:
# DF for night crime in Seattle
# Cleaned up the Seattle Time format.

Seattle_df=Seattle_df.loc[Seattle_df["Seattle Crime Time"]=="Night",:]
Seattle_df["Seattle Time"]=pd.to_datetime(Seattle_df["Seattle Time"], unit='h')
Seattle_df["Seattle Time"]=pd.to_datetime(Seattle_df["Seattle Time"],format='%H:%M:%S').dt.time
Seattle_df.head()

      Crime Date    Seattle Crime Seattle Time Seattle Crime Time
1     2017-01-03   Simple assault     01:00:00              Night
685   2017-01-03   Simple assault     00:00:00              Night
1027  2017-01-03   Simple assault     02:00:00              Night
1825  2017-01-03  Drugs/narcotics     03:00:00              Night
2167  2017-01-03  Drugs/narcotics     23:00:00              Night

In [65]:
# Merge the two back together on the Crime date

OS_df=pd.merge(Orlando_df, Seattle_df, on="Crime Date")
OS_df.head()

,Crime Date,Orlando Crime,Orlando Time,Orlando Crime Time,Seattle Crime,Seattle Time,Seattle Crime Time
0,2017-01-03,THEFT-CARPROWL,00:00:00,Night,Simple assault,01:00:00,Night
1,2017-01-03,THEFT-CARPROWL,00:00:00,Night,Simple assault,00:00:00,Night
2,2017-01-03,THEFT-CARPROWL,00:00:00,Night,Simple assault,02:00:00,Night
3,2017-01-03,THEFT-CARPROWL,00:00:00,Night,Drugs/narcotics,03:00:00,Night
4,2017-01-03,THEFT-CARPROWL,00:00:00,Night,Drugs/narcotics,23:00:00,Night

In [35]:
OS_df.count()

Crime Date            2451
Orlando Crime         2451
Orlando Time          2451
Orlando Crime Time    2451
Seattle Crime         2451
Seattle Time          2451
Seattle Crime Time    2451
dtype: int64

In [51]:
# Get dataframe back into Postgres.

engine=create_engine("postgresql://postgres:postgres@localhost/ETL Project")

OS_df.to_sql(name="Orlando_Seattle_Crimes_Formatted", con=engine, schema="etl", if_exists="replace", index=False)

In [52]:
# Query to make sure table was created
# Read_sql_table is used to call the specific schema

pd.read_sql_table("Orlando_Seattle_Crimes_Formatted", con=engine, schema="etl").head()

,Crime Date,Orlando Crime,Orlando Time,Orlando Crime Time,Seattle Crime,Seattle Time,Seattle Crime Time
0,2017-01-03,THEFT-CARPROWL,120.0,Night,Simple assault,1.0,Night
1,2017-01-03,THEFT-CARPROWL,120.0,Night,Simple assault,0.0,Night
2,2017-01-03,THEFT-CARPROWL,120.0,Night,Simple assault,2.0,Night
3,2017-01-03,THEFT-CARPROWL,120.0,Night,Drugs/narcotics,3.0,Night
4,2017-01-03,THEFT-CARPROWL,120.0,Night,Drugs/narcotics,23.0,Night

In [38]:
# The other four working datasets (Atlanta, Baltimore, Chicago, Portland) will be
# read in and have a city column added using the google API based on the given
# latitude and longitude coordinates.  This is a proof of concept that if data was
# given in the form (coordinates with no city information), the API could provide
# this information and the combined dataframe would be sent back to Postgres.

# Only the first 25 observations from each dataset will be used (total 100) as to
# not tax the google API.


engine=create_engine("postgresql://postgres:postgres@localhost/ETL Project")

Atlanta_df=pd.read_sql_table('Atlanta_Crimes', con=engine, schema="etl").head(25)
Baltimore_df=pd.read_sql_table("Baltimore_Crimes", con=engine, schema="etl").head(25)
Chicago_df=pd.read_sql_table("Chicago_Crimes", con=engine, schema="etl").head(25)
Portland_df=pd.read_sql_table("Portland_Crimes", con=engine, schema="etl").head(25)

In [39]:
# Drop useless columns in the Atlanta dataset and turn into dataframe.

Atlanta_df=pd.read_sql_table('Atlanta_Crimes', con=engine, schema="etl").head(25)
Atlanta_df=Atlanta_df[["occur_date", "occur_time", "description", "latitude", "longitude"]]
Atlanta_df.head()

  occur_date occur_time           description  latitude  longitude
0 2017-12-30   23:15:00  LARCENY-FROM VEHICLE  33.75582  -84.38013
1 2017-12-18   13:00:00  LARCENY-FROM VEHICLE  33.78674  -84.39745
2 2017-12-30   22:01:00  LARCENY-FROM VEHICLE  33.73760  -84.39486
3 2017-12-30   20:00:00  LARCENY-FROM VEHICLE  33.75156  -84.39887
4 2017-12-31   00:41:00  LARCENY-FROM VEHICLE  33.72146  -84.46522

In [40]:
# Drop useless columns in the Baltimore dataset and turn into dataframe.
# Rename time so it matches the other 3 datasets.

Baltimore_df=pd.read_sql_table("Baltimore_Crimes", con=engine, schema="etl").head(25)
Baltimore_df=Baltimore_df[["occur_date", "time", "description", "latitude", "longitude"]]
Baltimore_df=Baltimore_df.rename(columns={"time": "occur_time"})

In [41]:
Baltimore_df.head()

  occur_date occur_time          description  latitude  longitude
0 2017-09-02   23:30:00  ROBBERY - RESIDENCE  39.22951  -76.60541
1 2017-09-02   23:00:00           AUTO THEFT  39.31360  -76.63217
2 2017-09-02   22:53:00             SHOOTING  39.34768  -76.60697
3 2017-09-02   22:50:00         AGG. ASSAULT  39.28315  -76.64526
4 2017-09-02   22:31:00       COMMON ASSAULT  39.28756  -76.61365

In [42]:
# Drop useless columns in the Chicago dataset and turn into dataframe.
# Rename hour so it matches the other 3 datasets.
# Fix time so its format is like the others.

Chicago_df=pd.read_sql_table("Chicago_Crimes", con=engine, schema="etl").head(25)
Chicago_df=Chicago_df[["occur_date", "hour", "description", "latitude", "longitude"]]
Chicago_df=Chicago_df.rename(columns={"hour": "occur_time"})

In [43]:
Chicago_df["occur_time"]=pd.to_datetime(Chicago_df["occur_time"], unit='h')
Chicago_df["occur_time"]=pd.to_datetime(Chicago_df["occur_time"],format='%H:%M:%S').dt.time
Chicago_df.head()

,occur_date,occur_time,description,latitude,longitude
0,2014-12-04 09:30:00,09:00:00,AGGRAVATED DOMESTIC BATTERY: OTHER DANG WEAPON,41.809597,-87.601016
1,2002-12-24 09:00:00,09:00:00,TO VEHICLE,41.873845,-87.763183
2,2005-03-31 11:46:00,11:00:00,UNLAWFUL USE OTHER DANG WEAPON,41.973168,-87.713495
3,2006-06-30 16:44:00,16:00:00,SOLICIT NARCOTICS ON PUBLICWAY,41.895505,-87.711742
4,2006-10-11 23:05:00,23:00:00,SOLICIT ON PUBLIC WAY,41.871248,-87.744926

In [44]:
# Drop useless columns in the Portland dataset and turn into dataframe.
# Fix time so its format is like the others.

Portland_df=pd.read_sql_table("Portland_Crimes", con=engine, schema="etl").head(25)
Portland_df=Portland_df[["occur_date", "occur_time", "description", "latitude", "longitude"]]
Portland_df["occur_time"]=pd.to_datetime(Portland_df["occur_time"], unit='h')
Portland_df["occur_time"]=pd.to_datetime(Portland_df["occur_time"],format='%H:%M:%S').dt.time
Portland_df.head()

  occur_date occur_time               description   latitude   longitude
0 2017-02-20   00:00:00  Theft From Motor Vehicle  45.470545 -122.625298
1 2017-02-20   06:00:00  Theft From Motor Vehicle  45.467028 -122.625272
2 2017-02-21   17:00:00  Theft From Motor Vehicle  45.471859 -122.630327
3 2017-02-21   22:00:00  Theft From Motor Vehicle  45.475196 -122.630444
4 2016-12-21   10:00:00  Theft From Motor Vehicle  45.534551 -122.671730

In [45]:
# This is the final dataframe that will use the google api to append
# the correct city to the coordinates.

Crime=[Atlanta_df, Baltimore_df, Chicago_df, Portland_df]
Crime_df=pd.concat(Crime, sort="False")
Crime_df=Crime_df[[
    "occur_date", "occur_time", "description", "latitude", "longitude"
                ]]



Crime_df["occur_date"]=pd.to_datetime(Crime_df["occur_date"].dt.strftime('%Y-%m-%d'))


Crime_df

   occur_date occur_time                   description   latitude   longitude
0  2017-12-30   23:15:00          LARCENY-FROM VEHICLE  33.755820  -84.380130
1  2017-12-18   13:00:00          LARCENY-FROM VEHICLE  33.786740  -84.397450
2  2017-12-30   22:01:00          LARCENY-FROM VEHICLE  33.737600  -84.394860
3  2017-12-30   20:00:00          LARCENY-FROM VEHICLE  33.751560  -84.398870
4  2017-12-31   00:41:00          LARCENY-FROM VEHICLE  33.721460  -84.465220
5  2017-12-30   23:00:00          LARCENY-FROM VEHICLE  33.740060  -84.346600
6  2017-12-31   01:55:00            ROBBERY-PEDESTRIAN  33.745050  -84.373730
7  2017-12-31   00:00:00          LARCENY-FROM VEHICLE  33.773030  -84.371900
8  2017-12-30   00:00:00          LARCENY-FROM VEHICLE  33.746390  -84.372850
9  2017-12-31   00:00:00            BURGLARY-RESIDENCE  33.725790  -84.386250
10 2017-12-31   00:40:00                    AUTO THEFT  33.736160  -84.394950
11 2017-12-31   00:00:00          LARCENY-FROM VEHICLE  33.749740  -84.431920
12 2017-12-31   06:00:00               BURGLARY-NONRES  33.682430  -84.407660
13 2017-12-31   06:00:00             ROBBERY-RESIDENCE  33.716910  -84.392760
14 2017-12-31   07:25:00                    AUTO THEFT  33.730480  -84.387420
15 2017-12-30   16:00:00                    AUTO THEFT  33.700870  -84.465740
16 2017-12-31   09:29:00          LARCENY-FROM VEHICLE  33.758310  -84.431070
17 2017-12-31   05:00:00          LARCENY-FROM VEHICLE  33.796710  -84.475270
18 2017-12-31   09:00:00           LARCENY-NON VEHICLE  33.706780  -84.380310
19 2017-12-30   16:00:00          LARCENY-FROM VEHICLE  33.847460  -84.369830
20 2017-12-31   00:00:00          LARCENY-FROM VEHICLE  33.757570  -84.338680
21 2017-12-31   10:30:00           LARCENY-NON VEHICLE  33.770670  -84.380230
22 2017-12-31   10:45:00           LARCENY-NON VEHICLE  33.703690  -84.407950
23 2017-12-31   11:39:00          LARCENY-FROM VEHICLE  33.754370  -84.430890
24 2017-12-30   22:00:00          LARCENY-FROM VEHICLE  33.746470  -84.420570
0  2017-09-02   23:30:00           ROBBERY - RESIDENCE  39.229510  -76.605410
1  2017-09-02   23:00:00                    AUTO THEFT  39.313600  -76.632170
2  2017-09-02   22:53:00                      SHOOTING  39.347680  -76.606970
3  2017-09-02   22:50:00                  AGG. ASSAULT  39.283150  -76.645260
4  2017-09-02   22:31:00                COMMON ASSAULT  39.287560  -76.613650
..        ...        ...                           ...        ...         ...
20 2012-05-25   15:00:00                  RETAIL THEFT  41.953436  -87.746273
21 2003-02-15   23:00:00                $500 AND UNDER  41.884956  -87.746666
22 2012-10-10   08:00:00                FORCIBLE ENTRY  41.922698  -87.644917
23 2005-12-01   12:00:00  ATTEMPT POSSESSION NARCOTICS  41.883805  -87.749070
24 2005-04-20   14:00:00  POSS: CANNABIS 30GMS OR LESS  41.700310  -87.628099
0  2017-02-20   00:00:00      Theft From Motor Vehicle  45.470545 -122.625298
1  2017-02-20   06:00:00      Theft From Motor Vehicle  45.467028 -122.625272
2  2017-02-21   17:00:00      Theft From Motor Vehicle  45.471859 -122.630327
3  2017-02-21   22:00:00      Theft From Motor Vehicle  45.475196 -122.630444
4  2016-12-21   10:00:00      Theft From Motor Vehicle  45.534551 -122.671730
5  2017-02-02   11:00:00      Theft From Motor Vehicle  45.539218 -122.668789
6  2017-02-02   09:00:00      Theft From Motor Vehicle  45.534929 -122.670847
7  2017-02-03   21:00:00      Theft From Motor Vehicle  45.536801 -122.666776
8  2017-02-06   00:00:00      Theft From Motor Vehicle  45.539513 -122.660117
9  2017-02-06   12:00:00      Theft From Motor Vehicle  45.533491 -122.672174
10 2017-02-06   04:00:00      Theft From Motor Vehicle  45.540964 -122.662027
11 2017-02-07   00:00:00      Theft From Motor Vehicle  45.547119 -122.664163
12 2017-02-06   08:00:00      Theft From Motor Vehicle  45.539730 -122.664221
13 2017-02-07   00:00:00      Theft From Motor Vehicle  45.547470 -122.667960
14 2017-02-07   02:00:00      Theft From Motor Vehicle  45.535800 -122.664688
15 2017-02-09   05:00:00      Theft From Motor Vehicle  45.537122 -122.665445
16 2017-02-10   18:00:00      Theft From Motor Vehicle  45.539218 -122.668789
17 2017-02-11   00:00:00      Theft From Motor Vehicle  45.535437 -122.670132
18 2017-02-12   12:00:00      Theft From Motor Vehicle  45.535112 -122.659114
19 2017-02-14   08:00:00      Theft From Motor Vehicle  45.541574 -122.661543
20 2017-02-13   06:00:00      Theft From Motor Vehicle  45.543095 -122.669511
21 2017-02-20   08:00:00      Theft From Motor Vehicle  45.542813 -122.665701
22 2017-02-20   22:00:00      Theft From Motor Vehicle  45.540964 -122.662027
23 2017-02-09   10:00:00      Theft From Motor Vehicle  45.539218 -122.668789
24 2017-02-21   11:00:00      Theft From Motor Vehicle  45.541874 -122.668789

[100 rows x 5 columns]

In [46]:
# This is a loop to get the city for the data using the latitude and
# longitude coordinates with the google API.

City = []

for i, j in zip(Crime_df.latitude, Crime_df.longitude):
        z=os.linesep.join([str(i),str(j)])
        
        
        base_url="https://maps.googleapis.com/maps/api/geocode/json"
        params={
                "latlng": z
                "key": "api_key"
                }

        response=requests.get(base_url, params)
        City_return=response.json()
        City_loc=(City_return["results"][0]["address_components"][3]["long_name"])
        
        City.append(City_loc)
        
Crime_df["City"]=City

In [47]:
Crime_df

,occur_date,occur_time,description,latitude,longitude,City
0,2017-12-30,23:15:00,LARCENY-FROM VEHICLE,33.755820,-84.380130,Atlanta
1,2017-12-18,13:00:00,LARCENY-FROM VEHICLE,33.786740,-84.397450,Atlanta
2,2017-12-30,22:01:00,LARCENY-FROM VEHICLE,33.737600,-84.394860,Atlanta
3,2017-12-30,20:00:00,LARCENY-FROM VEHICLE,33.751560,-84.398870,Atlanta
4,2017-12-31,00:41:00,LARCENY-FROM VEHICLE,33.721460,-84.465220,Atlanta
5,2017-12-30,23:00:00,LARCENY-FROM VEHICLE,33.740060,-84.346600,Atlanta
6,2017-12-31,01:55:00,ROBBERY-PEDESTRIAN,33.745050,-84.373730,Atlanta
7,2017-12-31,00:00:00,LARCENY-FROM VEHICLE,33.773030,-84.371900,Atlanta
8,2017-12-30,00:00:00,LARCENY-FROM VEHICLE,33.746390,-84.372850,Atlanta
9,2017-12-31,00:00:00,BURGLARY-RESIDENCE,33.725790,-84.386250,Atlanta
10,2017-12-31,00:40:00,AUTO THEFT,33.736160,-84.394950,Atlanta
11,2017-12-31,00:00:00,LARCENY-FROM VEHICLE,33.749740,-84.431920,Atlanta
12,2017-12-31,06:00:00,BURGLARY-NONRES,33.682430,-84.407660,Atlanta
13,2017-12-31,06:00:00,ROBBERY-RESIDENCE,33.716910,-84.392760,Atlanta
14,2017-12-31,07:25:00,AUTO THEFT,33.730480,-84.387420,Atlanta
15,2017-12-30,16:00:00,AUTO THEFT,33.700870,-84.465740,Atlanta
16,2017-12-31,09:29:00,LARCENY-FROM VEHICLE,33.758310,-84.431070,Atlanta
17,2017-12-31,05:00:00,LARCENY-FROM VEHICLE,33.796710,-84.475270,Atlanta
18,2017-12-31,09:00:00,LARCENY-NON VEHICLE,33.706780,-84.380310,Atlanta
19,2017-12-30,16:00:00,LARCENY-FROM VEHICLE,33.847460,-84.369830,Atlanta
20,2017-12-31,00:00:00,LARCENY-FROM VEHICLE,33.757570,-84.338680,Atlanta
21,2017-12-31,10:30:00,LARCENY-NON VEHICLE,33.770670,-84.380230,Atlanta
22,2017-12-31,10:45:00,LARCENY-NON VEHICLE,33.703690,-84.407950,Atlanta
23,2017-12-31,11:39:00,LARCENY-FROM VEHICLE,33.754370,-84.430890,Atlanta
24,2017-12-30,22:00:00,LARCENY-FROM VEHICLE,33.746470,-84.420570,Atlanta
0,2017-09-02,23:30:00,ROBBERY - RESIDENCE,39.229510,-76.605410,Baltimore
1,2017-09-02,23:00:00,AUTO THEFT,39.313600,-76.632170,Baltimore
2,2017-09-02,22:53:00,SHOOTING,39.347680,-76.606970,Baltimore
3,2017-09-02,22:50:00,AGG. ASSAULT,39.283150,-76.645260,Baltimore
4,2017-09-02,22:31:00,COMMON ASSAULT,39.287560,-76.613650,Baltimore
...,...,...,...,...,...,...
20,2012-05-25,15:00:00,RETAIL THEFT,41.953436,-87.746273,Chicago
21,2003-02-15,23:00:00,$500 AND UNDER,41.884956,-87.746666,Chicago
22,2012-10-10,08:00:00,FORCIBLE ENTRY,41.922698,-87.644917,Chicago
23,2005-12-01,12:00:00,ATTEMPT POSSESSION NARCOTICS,41.883805,-87.749070,Chicago
24,2005-04-20,14:00:00,POSS: CANNABIS 30GMS OR LESS,41.700310,-87.628099,Chicago
0,2017-02-20,00:00:00,Theft From Motor Vehicle,45.470545,-122.625298,Portland
1,2017-02-20,06:00:00,Theft From Motor Vehicle,45.467028,-122.625272,Portland
2,2017-02-21,17:00:00,Theft From Motor Vehicle,45.471859,-122.630327,Portland
3,2017-02-21,22:00:00,Theft From Motor Vehicle,45.475196,-122.630444,Portland
4,2016-12-21,10:00:00,Theft From Motor Vehicle,45.534551,-122.671730,Portland
5,2017-02-02,11:00:00,Theft From Motor Vehicle,45.539218,-122.668789,Portland
6,2017-02-02,09:00:00,Theft From Motor Vehicle,45.534929,-122.670847,Portland
7,2017-02-03,21:00:00,Theft From Motor Vehicle,45.536801,-122.666776,Portland
8,2017-02-06,00:00:00,Theft From Motor Vehicle,45.539513,-122.660117,Portland
9,2017-02-06,12:00:00,Theft From Motor Vehicle,45.533491,-122.672174,Portland
10,2017-02-06,04:00:00,Theft From Motor Vehicle,45.540964,-122.662027,Portland
11,2017-02-07,00:00:00,Theft From Motor Vehicle,45.547119,-122.664163,Portland
12,2017-02-06,08:00:00,Theft From Motor Vehicle,45.539730,-122.664221,Portland
13,2017-02-07,00:00:00,Theft From Motor Vehicle,45.547470,-122.667960,Portland
14,2017-02-07,02:00:00,Theft From Motor Vehicle,45.535800,-122.664688,Portland
15,2017-02-09,05:00:00,Theft From Motor Vehicle,45.537122,-122.665445,Portland
16,2017-02-10,18:00:00,Theft From Motor Vehicle,45.539218,-122.668789,Portland
17,2017-02-11,00:00:00,Theft From Motor Vehicle,45.535437,-122.670132,Portland
18,2017-02-12,12:00:00,Theft From Motor Vehicle,45.535112,-122.659114,Eliot
19,2017-02-14,08:00:00,Theft From Motor Vehicle,45.541574,-122.661543,Portland
20,2017-02-13,06:00:00,Theft From Motor Vehicle,45.543095,-122.669511,Portland
21,2017-02-20,08:00:00,Theft From Motor Vehicle,45.542813,-122.665701,Portland
22,2017-02-20,22:00:00,Theft From Motor Vehicle,45.540964,-122.662027,Portland
23,2017-02-09,10:00:00,Theft From Motor Vehicle,45.539218,-122.668789,Portland
24,2017-02-21,11:00:00,Theft From Motor Vehicle,45.541874,-122.668789,Multnomah County

In [53]:
# Spit the Crime_df back to postgres.

engine=create_engine("postgresql://postgres:postgres@localhost/ETL Project")

Crime_df.to_sql(name="ABCP_Crime_data", con=engine, schema="etl", if_exists="replace", index=False)

In [54]:
# Check to make sure it made it to Postgres correctly.

pd.read_sql_table("ABCP_Crime_data", con=engine, schema="etl").head(20)

   occur_date occur_time           description  latitude  longitude     City
0  2017-12-30   23:15:00  LARCENY-FROM VEHICLE  33.75582  -84.38013  Atlanta
1  2017-12-18   13:00:00  LARCENY-FROM VEHICLE  33.78674  -84.39745  Atlanta
2  2017-12-30   22:01:00  LARCENY-FROM VEHICLE  33.73760  -84.39486  Atlanta
3  2017-12-30   20:00:00  LARCENY-FROM VEHICLE  33.75156  -84.39887  Atlanta
4  2017-12-31   00:41:00  LARCENY-FROM VEHICLE  33.72146  -84.46522  Atlanta
5  2017-12-30   23:00:00  LARCENY-FROM VEHICLE  33.74006  -84.34660  Atlanta
6  2017-12-31   01:55:00    ROBBERY-PEDESTRIAN  33.74505  -84.37373  Atlanta
7  2017-12-31   00:00:00  LARCENY-FROM VEHICLE  33.77303  -84.37190  Atlanta
8  2017-12-30   00:00:00  LARCENY-FROM VEHICLE  33.74639  -84.37285  Atlanta
9  2017-12-31   00:00:00    BURGLARY-RESIDENCE  33.72579  -84.38625  Atlanta
10 2017-12-31   00:40:00            AUTO THEFT  33.73616  -84.39495  Atlanta
11 2017-12-31   00:00:00  LARCENY-FROM VEHICLE  33.74974  -84.43192  Atlanta
12 2017-12-31   06:00:00       BURGLARY-NONRES  33.68243  -84.40766  Atlanta
13 2017-12-31   06:00:00     ROBBERY-RESIDENCE  33.71691  -84.39276  Atlanta
14 2017-12-31   07:25:00            AUTO THEFT  33.73048  -84.38742  Atlanta
15 2017-12-30   16:00:00            AUTO THEFT  33.70087  -84.46574  Atlanta
16 2017-12-31   09:29:00  LARCENY-FROM VEHICLE  33.75831  -84.43107  Atlanta
17 2017-12-31   05:00:00  LARCENY-FROM VEHICLE  33.79671  -84.47527  Atlanta
18 2017-12-31   09:00:00   LARCENY-NON VEHICLE  33.70678  -84.38031  Atlanta
19 2017-12-30   16:00:00  LARCENY-FROM VEHICLE  33.84746  -84.36983  Atlanta